.backButton {
    position: absolute !important;
    bottom: 0px !important;
    left: 40px !important;
}

.scheduleOverlay {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 70px;
    flex-direction: column;
    margin: 20px
}

.orderSummary {
    width: 100%;
}