.container {
    width: 33%;
    height: 90%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.overlay {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-direction: column;
    padding: 0 10%;
}