.container {
    width: 33vw;
    height: 95vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0);
}

.overlay {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-direction: column;
    padding: 0 10%;
    margin: 20px
}

.backButton {

}
